*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
.App {
  display: flex;  
  flex-direction: column;
  align-items: center; 
  background: #123;
}

.container{ 
  display: flex;
  flex-direction: column;
  position: relative;
  background: lightyellow ;
  width: 350px;
  height: 620px;
  border: 1px solid #2dcc70;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(73, 75, 150, .15);
}
/* header{
  width: inherit;
} */
main{
  padding: 0 20px;
  overflow-y: scroll;
}


.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
