
nav {
  background: #2dcc70;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  margin: 20px  0  0;
}
nav .navbar-brand{
  font-family:cursive;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 0px 1px crimson, 1px 0px crimson, 0px -1px crimson, -1px 0px crimson;
  text-decoration: none;
}

form{
  display: flex;
  align-items: center;
}

form input {
  border-color: #2dcc70;
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
  width: 150px;
  height: 24px;
  padding: 2px 10px;
}
form label {
  border-color: #2dcc70;
  border: none;
  outline: none;
  border-radius:0 10px 10px 0;
  padding: 2px 10px;
  font-size: 12px;
  height: 24px;
  background: #fff;
}